html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}



@media (max-width: 768px) {
  .responsive-img {
    max-width: 70%;
    max-height: 50%;

  }
}
.p-toolbar {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for stacking */
}

.p-toolbar-group-start,
.p-toolbar-group-center,
.p-toolbar-group-end {
  flex: 1; /* Distribute available space */
  display: flex;
  justify-content: center; /* Center content horizontally */
}

.p-toolbar-group-start {
  justify-content: flex-start; /* Align left group to the start */
}

.p-toolbar-group-end {
  justify-content: flex-end; /* Align right group to the end */
}

/* .card {
  width: 100%; /* Take full width on smaller screens */

button {
  width: auto; /* Adjust button width */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .p-toolbar {
    flex-direction: column; /* Stack groups vertically */
  }

  .p-toolbar-group-start,
  .p-toolbar-group-center,
  .p-toolbar-group-end {
    width: 100%; /* Take full width */
    justify-content: center; /* Center content in each group */
  }

  button {
    width: 100%; /* Button takes full width on mobile */
  }
}
